@use '../utils/' as *;

.ts-btn {
    font-family: var(--font-family);
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: var(--ts-white-color);

    &--blue {
        padding: 16px 36px;
        background: var(--ts-theme-color);
    }
    &--video{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: var(--ts-black-color);
        i{
            color: var(--ts-white-color);
        }
    }
}