@use '../utils/' as *;

.ts-btn {
    font-family: var(--font-family);
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    color: var(--ts-white-color);

    &--blue {
        padding: 16px 36px;
        background: var(--ts-theme-color);
    }

    &--lg {
        padding: 11px 36px;
        background: var(--ts-theme-color);
        display: block;
        text-align: center;
    }

    &--white {
        padding: 11px 36px;
        background: var(--ts-white-color);
        display: block;
        text-align: center;
        color: var(--ts-black-color);
    }
}

.ts-play {
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &--white {
        width: 70px;
        height: 70px;
        background: var(--ts-white-color);

        i {
            color: var(--ts-black-color);
        }
    }

    &--black {
        width: 60px;
        height: 60px;
        background: var(--ts-black-color);

        i {
            color: var(--ts-white-color);
        }
    }
}